{% extends "frontend/base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block body_block %}

<!-- Custom styles for this template -->
<!-- <link href="https://getbootstrap.com/examples/signin/signin.css" rel="stylesheet"> -->
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

{% if next %}

<form action="{{request.path}}" method="post" class="form-signin">
{%else%}
<form method="post" action="." class="form-signin">
{% endif %}

        {% csrf_token %}

        <h2 class="form-signin-heading">Login</h2>
        <input class="form-control" placeholder="Username" id="id_username" maxlength="30" name="username" type="text" required autofocus=""/>
        <input class="form-control" type="password" placeholder="Password" id="id_password" name="password"  required />

        <button class="btn btn-lg btn-warning btn-block" type="submit" value="Submit" >Sign in</button>
</form>


{% endblock %}

