{% extends 'base.html' %} {% block content %}
<h2>Settings</h2>

<p>User name: {{ user.username }}!</p>
<p>E-Mail: {{ user.email }}</p>
<p>Token: {{ access_token }}</p>
<p>Extra Data: {{ extra_data }}</p>

<h3>Fiware</h3>
{% if fiware_login %}
<p>Connected as <a href="{{ fiware_idm_endpoint }}/idm/users/{{ fiware_login.extra_data.username }}/" target="_blank">{{ fiware_login.extra_data.username }}</a></p>
{% if can_disconnect %}
<form method="post" action="{% url 'social:disconnect' 'fiware' %}">
    {% csrf_token %}
    <button type="submit">Disconnect from Fiware</button>
</form>
{% else %}
<button type="button" disabled>Disconnect from Fiware</button>
<p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Fiware.</p>
{% endif %} {% else %}
<a href="{% url 'social:begin' 'fiware' %}">Connect to Fiware</a> {% endif %}
{% endblock %}