{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="s-12">
<nav class="submenu">
    <p class="nav-text"></p> 
    <div class="top-nav">        
            <ul>
                <li><a class="tablinks" onclick="openRemoteDesktopsTool(event, 'desktops')">Desktops Available</a></li>
                <li class="settings"><a class="tablinks" onclick="openRemoteDesktopsTool(event, 'settings')">Settings</a></li>
            </ul>            
    </div>
</nav>
</div>    


<div id="remotedesktops_notification_container"></div>

<div id="desktops" class="tabcontent">
    {% include "sections/desktops.html" %}
</div>

<div id="settings" class="tabcontent">
    {% include "sections/rdi_settings.html" %}
</div>

{% endblock %}

{% block javascript %}
<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

function redirect(url) {
    window.location.replace(url);
}

function cleanNotifications() {
    $("#experiments_notification_container").empty();
}

function appendNotification(message, error = false) {
    var _title = "Success"
    var _class = "dialog_success";
    if (error) {
        _title = "Error"
        _class = "dialog_failure";
    }

    message_box = $(document.createElement('div')).text(message)

    $("#experiments_notification_container").append(message_box)

    message_box.dialog({
        title: _title,
        dialogClass: _class,
        position: {
            my: "center",
            at: "center"
        },
        clickOutside: true
    })
}

$log_timeout = null;
function openRemoteDesktopsTool(evt, toolName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Stop all log monitoring
    if ($log_timeout != null) {
        clearTimeout($log_timeout);
    }

    // Clean Up the errors container
    cleanNotifications();

    switch(toolName) {
        case "desktops":
            renderRDIData("#rdi_selector");
            $("#rd_list").empty();
            break;
        case "settings":
            renderRDIData("#infrastructure_list", select=false);
            break;
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(toolName).style.display = "block";
    evt.currentTarget.className += " active";
}

function renderRDIData(container_id, select=true, clear_notifications=true) {
    var rdi_container = $(container_id);
    if (select) {
        rdi_container = rdi_container.find("select");
        rdi_container.append(
            $(document.createElement('option')).attr("value", "-1").text("Loading..")
        );
    } else {
        rdi_container.empty();
    }
    if (clear_notifications) {
        cleanNotifications();
    }

    $.ajax({
        url: '/visualization/_get_rdi_list',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                message = "Couldn't get rdi list: "+data.error;
                appendNotification(message, error=true);
            } else {
                var rdi_list = data.rdi_list;
                if (rdi_list.length > 0) {
                    if (select) {
                        rdi_container.empty();
                        rdi_container.append(
                            $(document.createElement('option'))
                                .attr("value", "-1")
                                .text("None")
                        );
                    }
                    $.each(rdi_list, function (index, rdi) {
                        if (select) {
                            rdi_container.append(
                                $(document.createElement('option'))
                                    .attr("value", rdi.id)
                                    .text(rdi.name)
                            )
                        } else {
                            rdi_container.append(
                                $(document.createElement('div')).
                                    attr("id", "rdi_block_"+rdi.id).
                                    attr("class", "margin rdi_settings_block").
                                    append(
                                        $(document.createElement('div')).
                                            attr("class", "s-12 m-6 l-6").
                                            append(
                                                $(document.createElement('div')).
                                                    attr("class", "l-9 left").
                                                    append(
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "rdi_label rdi_label_name").text('Name: '),
                                                            $(document.createElement('span')).text(rdi.name),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "rdi_label").text('Host: '),
                                                            $(document.createElement('span')).text(rdi.host),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "rdi_label").text('User: '),
                                                            $(document.createElement('span')).text(rdi.user),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "rdi_label").text('Tool: '),
                                                            $(document.createElement('span')).text("noVNC"),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "rdi_label").text('List CMD: '),
                                                            $(document.createElement('span')).text(rdi.list_cmd),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "rdi_label").text('Create CMD: '),
                                                            $(document.createElement('span')).text(rdi.create_cmd),
                                                        )
                                                    )
                                                ,
                                                $(document.createElement('div')).
                                                    attr("class", "l-3 right").
                                                    append(
                                                        $(document.createElement('button')).
                                                            attr("id", "del_rdi_"+rdi.id).
                                                            text('Delete')
                                                    )
                                            )
                                    )
                            );
                            setRDIEditButtonsHandler(
                                "#del_rdi_"+rdi.id,
                                rdi.id,
                                refresh_function = function() {
                                    renderRDIData(container_id,
                                                  select=false,
                                                  clear_notifications=false); 
                                }
                            );
                        }
                    });
                } else {
                    if (select) {
                        rdi_container.empty();
                        rdi_container.append(
                            $(document.createElement('option')).attr("value", "-1").text("No remote desktop infrastructures found")
                        );
                    } else {
                        rdi_container.append(
                            $(document.createElement('div')).attr("id", "no_rdi_list").text("No remote desktop infrastructures found")
                        )
                    }
                }
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't get remote desktop infrastructure list: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function setRDIEditButtonsHandler(button_id, pk, refresh_function) {
    $(button_id).on('click', function (event) {
        event.preventDefault();
        $.ajax({
            method: "POST",
            url: '/visualization/_delete_rdi',
            data: {
                'pk': pk
            },
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();
                if (data.redirect!==undefined && data.redirect!==null) {
                    redirect(data.redirect);
                } else if (data.error!==undefined && data.error!==null) {
                    appendNotification("Couldn't delete the remote desktop infrastructure: "+data.error, error=true);
                } else {
                    appendNotification("Remote desktop infrastructure "+data.rdi.name+" removed.");
                }
            },
            error: function (jqXHR, status, errorThrown) {
                $(".loader").hide();
                message = "Couldn't remove the remote desktop infrastructure: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            },
            complete: refresh_function
        });
    });
}

$("#add_rdi").find("button").on('click', function (event) {
    event.preventDefault();
    var name = $("#add_rdi_name").val();
    var host = $("#add_rdi_host").val();
    var user = $("#add_rdi_user").val();
    var password = $("#add_rdi_password").val();
    var list_cmd = $("#add_rdi_list_cmd").val();
    var create_cmd = $("#add_rdi_create_cmd").val();

    cleanNotifications();
    if (name != '' && host != '' && user!= '' && password != '' && list_cmd != '' && create_cmd != '') {
        $.ajax({
            url: '/visualization/_add_rdi',
            type: "POST",
            data: {
                'name': name,
                'host': host,
                'user': user,
                'password': password,
                'list_cmd': list_cmd,
                'create_cmd': create_cmd
            },
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                if (data.error!==undefined && data.error!==null) {
                    appendNotification("Couldn't add the remote desktop infrastructure: "+data.error, error=true);
                } else {
                    appendNotification("Remote desktop infrastructure "+data.rdi.name+" added.");
                }
            },
            error: function (jqXHR, status, errorThrown) {
                message = "Couldn't add the remote desktop infrastructure: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            },
            complete: function() {
                renderRDIData("#infrastructure_list", selector=false, clean=false);
            },
        });
    }
});

$("#desktops").find("button").on('click', function (event) {
    event.preventDefault();
    var rdi_pk = $("#rdi_selector").find("select").val();

    if (parseInt(rdi_pk) >= 0) {
        $.ajax({
            url: '/visualization/_add_rd',
            data: {
                'rdi_pk': rdi_pk
            },
            method: 'POST',
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();
                if (data.error!==undefined && data.error!==null) {
                    appendNotification("Couldn't read the desktops: "+data.error, error=true);
                }
            },
            error: function (jqXHR, status, errorThrown) {
                $(".loader").hide();
                message = "Couldn't read the desktops: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            },
            complete: function () {
                renderRDIDesktops("#rdi_selector", "#rd_list");
            }
        });
    }
});

$("#rdi_selector").find("select").on('change', function () {
    renderRDIDesktops("#rdi_selector", "#rd_list")
});

function renderRDIDesktops(selector_id, container_id) {
    var rdi_pk = $(selector_id).find("select").val();
    var rd_container = $(container_id);
    rd_container.empty();

    if (parseInt(rdi_pk) >= 0) {
        $.ajax({
            url: '/visualization/_get_rd_list',
            data: {
                'rdi_pk': rdi_pk
            },
            method: 'POST',
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();
                if (data.error!==undefined && data.error!==null) {
                    appendNotification("Couldn't read the desktops: "+data.error, error=true);
                } else if (data.rd_list.length > 0) {
                    $(data.rd_list).each(function (index, rd) {
                        console.log("hola!");
                        console.log(rd);
                        rd_container.append(
                            $(document.createElement('div')).attr({
                                id: "rd_container_" + index
                            }).append(
                                $(document.createElement('ul')).append(
                                    $(document.createElement('li')).append(
                                        $(document.createElement('a')).attr({
                                            target: "_blank",
                                            href: rd.url
                                        }).text("Desktop")
                                    ),
                                    $(document.createElement('li')).append(
                                        $(document.createElement('a')).attr({
                                            target: "_blank",
                                            href: rd.ro_url
                                        }).text("View Only")
                                    )
                                )
                            )
                        );
                    });
                } else {
                    rd_container.append(
                        $(document.createElement('label')).text("No desktops found")
                    );
                }
            },
            error: function (jqXHR, status, errorThrown) {
                $(".loader").hide();
                message = "Couldn't read the desktops: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            }
        });
    }
}

</script>
{% endblock %}
