{% extends 'base.html' %}

{% block content %}
<div id="controls" class="tab">
    <button id="tab-upload" class="tablinks" onclick="openExperimentsTool(event, 'upload')">Upload Blueprint</button>
    <button id="tab-deploy" class="tablinks" onclick="openExperimentsTool(event, 'deploy')">Create Deployment</button>
    <button id="tab-install" class="tablinks" onclick="openExperimentsTool(event, 'install')">Install Deployment</button>
    <button id="tab-run" class="tablinks" onclick="openExperimentsTool(event, 'run')">Run Deployment</button>
    <button id="tab-uninstall" class="tablinks" onclick="openExperimentsTool(event, 'uninstall')">Uninstall Deployment</button>
    <button id="tab-destroy" class="tablinks" onclick="openExperimentsTool(event, 'destroy')">Destroy Deployment</button>
    <button id="tab-remove" class="tablinks" onclick="openExperimentsTool(event, 'remove')">Remove Blueprint</button>
</div>

<div id="upload" class="tabcontent">
    {% include "experiments_tools/upload.html" %}
</div>

<div id="deploy" class="tabcontent">
    {% include "experiments_tools/deploy.html" %}
</div>

<div id="install" class="tabcontent">
    {% include "experiments_tools/install.html" %}
</div>

<div id="run" class="tabcontent">
    {% include "experiments_tools/run.html" %}
</div>

<div id="uninstall" class="tabcontent">
    {% include "experiments_tools/uninstall.html" %}
</div>

<div id="destroy" class="tabcontent">
    {% include "experiments_tools/destroy.html" %}
</div>

<div id="remove" class="tabcontent">
    {% include "experiments_tools/remove.html" %}
</div>

{% endblock %}

{% block javascript %}
<script>
function openExperimentsTool(evt, toolName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    switch(toolName) {
        case "upload":
            renderUploadData();
            break;
        case "deploy":
            renderDeployData();
            break;
        case "install":
            break;
        case "run":
            break;
        case "uninstall":
            break;
        case "destroy":
            renderDestroyData();
            break;
        case "remove":
            renderRemoveData();
            break;
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(toolName).style.display = "block";
    evt.currentTarget.className += " active";
}

function renderUploadData() {
    var product_selector = $("#product_selector").find("select")
    product_selector.empty();
    $.ajax({
        url: '/experimentstool/_get_products',
        success: function (products) {
            if (products.length > 0) {
                $.each(products, function (index, product) {
                    product_selector.append(
                        $(document.createElement('option')).attr("value", product.id).text(product.name)
                    )
                });
            } else {
                product_selector.append(
                    $(document.createElement('option')).attr("value", "-1").text("No products found")
                );
            }
        }
    });
}

$("#upload").find("button").on('click', function () {
    var product = $("#product_selector").find("select").val();
    var mso_id = $("#mso4sc_id").find("input").val();

    if (product >= 0) {
        $.ajax({
            url: '/experimentstool/_upload_application',
            type: "POST",
            data: {
                'product': product,
                'mso_id': mso_id
            },
            dataType: 'json',
            success: function (data) {
                if (data.error!==undefined) {
                    console.log(data.error);
                } else {
                    console.log(data.blueprint)
                }
            }
        });
    }
});

function renderDeployData() {
    var blueprint_selector = $("#blueprint_selector").find("select")
    blueprint_selector.empty();
    blueprint_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );

    $.ajax({
        url: '/experimentstool/_get_blueprints',
        success: function (data) {
            blueprint_selector.empty();
            blueprints = data.blueprints
            if (blueprints.length > 0) {
                $.each(blueprints, function (index, blueprint) {
                    blueprint_selector.append(
                        $(document.createElement('option')).attr("value", index).text(blueprint.id)
                    )
                });
            } else {
                blueprint_selector.append(
                    $(document.createElement('option')).attr("value", "-1").text("No applications found")
                );
            }
        },
        failure: function (error) {
            console.log(error)
        }
    });

    var dataset_selector = $("#dataset_selector").find("select")
    dataset_selector.empty();
    dataset_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );
    $.ajax({
        url: '/experimentstool/_get_datasets',
        success: function (datasets) {
            dataset_selector.empty();
            dataset_selector.append(
                $(document.createElement('option')).attr("value", "-1").text("None")
            );
            if (datasets.length > 0) {
                $.each(datasets, function (index, dataset) {
                    dataset_selector.append(
                        $(document.createElement('option')).attr("value", index).text(dataset)
                    )
                });
            }
        }
    });
}

$("#dataset_selector").find("select").on('change', function () {
    var dataset = $(this).val();
    var resources_list = $("#dataset_selector").find(".dynamic_list");
    resources_list.empty();

    if (dataset != "none") {
        $.ajax({
            url: '/experimentstool/_get_dataset_info',
            data: {
                'dataset': dataset
            },
            dataType: 'json',
            success: function (data) {
                if (data.num_resources > 0) {
                    $(data.resources).each(function (index, resource) {
                        resources_list.append(
                            $(document.createElement('div')).attr({
                                id: "resource_selector_" + resource.name
                            }).append(
                                $(document.createElement('input')).attr({
                                    id: "resource_" + resource.name,
                                    name: resource.name,
                                    value: resource.name,
                                    type: 'checkbox'
                                }),
                                $(document.createElement('label')).attr({
                                    for: "resource_" + resource.name
                                }).text(resource.name)
                            )
                        )
                    });
                } else {
                    resources_list.append(
                        $(document.createElement('label')).text("No resources found")
                    );
                }
            }
        });
    }
});

$("#deploy_form").find("button").on('click', function (event) {
    event.preventDefault();
    if (window.File && window.FileReader && window.FileList && window.Blob) {
        // Great success! All the File APIs are supported.
    } else {
        alert('The File APIs are not fully supported in this browser.');
    }

    var blueprint_index = $("#blueprint_selector").find("select").val();
    var dataset_index = $("#dataset_selector").find("select").val();
    var deployment_inputs = $("#deployment_inputs").find("input")[0];
    var deployment_id = $("#deployment_id").find("input").val();

    if (!deployment_inputs) {
        alert("Um, couldn't find the fileinput element.");
    }
    else if (!deployment_inputs.files) {
        alert("This browser doesn't seem to support the `files` property of file inputs.");
    }
    else if (!deployment_inputs.files[0]) {
        alert("Please select a file before deploy");               
    }
    else {
        var data = new FormData();
        data.append('blueprint_index', blueprint_index);
        data.append('dataset_index', dataset_index);
        data.append('deployment_inputs', deployment_inputs.files[0]);
        data.append('deployment_id', deployment_id);

        $.ajax({
            method: "POST",
            url: '/experimentstool/_deploy_application',
            data: data,
            dataType: 'json',
            contentType: false,
            processData: false,
            cache: false,
            success: function (data) {
                if (data.error!==undefined) {
                    console.log(data.error);
                } else {
                    console.log(data)
                }
            }
        });
    }
});

function renderDestroyData() {
    var destroy_deployment_selector = $("#destroy_deployment_selector").find("select")
    destroy_deployment_selector.empty();
    destroy_deployment_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );

    $.ajax({
        url: '/experimentstool/_get_deployments',
        success: function (data) {
            destroy_deployment_selector.empty();
            deployments = data.deployments
            if (deployments.length > 0) {
                $.each(deployments, function (index, deployment) {
                    destroy_deployment_selector.append(
                        $(document.createElement('option')).attr("value", index).text(deployment.id)
                    )
                });
            } else {
                destroy_deployment_selector.append(
                    $(document.createElement('option')).attr("value", "-1").text("No applications found")
                );
            }
        },
        failure: function (error) {
            console.log(error)
        }
    });
}

$("#destroy").find("button").on('click', function () {
    var deployment_index = $("#destroy_deployment_selector").find("select").val();

    $.ajax({
        method: "POST",
        url: '/experimentstool/_destroy_deployment',
        data: {
            'deployment_index': deployment_index
        },
        dataType: 'json',
        success: function (data) {
            if (data.error!==undefined) {
                console.log(data.error);
            } else {
                console.log(data)
            }
        }
    });
});

function renderRemoveData() {
    var remove_blueprint_selector = $("#remove_blueprint_selector").find("select")
    remove_blueprint_selector.empty();
    remove_blueprint_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );

    $.ajax({
        url: '/experimentstool/_get_blueprints',
        success: function (data) {
            remove_blueprint_selector.empty();
            blueprints = data.blueprints
            if (blueprints.length > 0) {
                $.each(blueprints, function (index, blueprint) {
                    remove_blueprint_selector.append(
                        $(document.createElement('option')).attr("value", index).text(blueprint.id)
                    )
                });
            } else {
                remove_blueprint_selector.append(
                    $(document.createElement('option')).attr("value", "-1").text("No applications found")
                );
            }
        },
        failure: function (error) {
            console.log(error)
        }
    });
}

$("#remove").find("button").on('click', function () {
    var blueprint_index = $("#remove_blueprint_selector").find("select").val();

    $.ajax({
        method: "POST",
        url: '/experimentstool/_remove_blueprint',
        data: {
            'blueprint_index': blueprint_index
        },
        dataType: 'json',
        success: function (data) {
            if (data.error!==undefined) {
                console.log(data.error);
            } else {
                console.log(data)
            }
        }
    });
});
</script>
{% endblock %}
