<form class="customform" id="deploy_form" method=POST enctype=multipart/form-data>
    
    <div class="s-12 m-12 l-12">
        <div class="l-8" id="deployment_id">
            <label>Deployment ID: </label>
            <input type='text'>
        </div>
    </div>    
    
    <div class="s-12 m-12 l-12">    
        <div class="l-8" id="blueprint_selector">
            <label>Application: </label>
            <select></select>
        </div>
    </div>
    <div class="s-12 m-12 l-12">    
        <div id="blueprint_inputs" class="dynamic_list"></div>
    </div>    
    <div class="s-12 l-2 center">
        <button>Create Instance!</button>
    </div>
    
</form>