<form class="customform">
    {% csrf_token %}    
    <div class="s-12 m-12 l-12">
            <div class="l-9" id="destroy_deployment_selector">
                <label>App Instance: </label>
                <select></select>
            </div>
        </div>    
        
    <div class="margin">
        <div class="s-12 m-6 l-6">
            <div class="l-6 right">
                <button id="destroy-instance-button">Destroy Instance!</button>
            </div>
        </div>    
        <div class="s-12 m-6 l-6">
            <div class="l-6 left">                
                <button id="force-destroy-instance-button">Force Destroy Instance!</button>                
            </div>    
        </div>
    </div>     
</form>