{% load static %}
<form class="customform">    
    <div class="s-12 m-12 l-12">
        <div class="l-8" id="uninstall_deployment_selector">
            <label>App Instance: </label>
            <select></select>
        </div>
    </div>
    <div class="s-12 l-3 center">
        <button id="undeploy-button">Undeploy!</button>
    </div>
    <div class="s-12 l-3 center">
        <button id="force-undeploy-button">Force Undeploy!</button>
    </div>    
    <div class="s-12 m-12 l-12">    
        <div class="l-8" id="uninstall_deployment_log">
            <textarea rows="20" cols="150" ></textarea>
            <img src="{% static 'experimentstool/img/light_grey.png' %}">
        </div>
    </div>    
</form>    