{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>MSOPortal</title>
    <link rel="icon" href="{% static 'portal/img/favicon.ico' %}" type="image/vnd.microsoft.icon" sizes="16x16 24x24 32x32 48x48 64x64">
    <link rel="stylesheet" href="{% static 'portal/css/portal.css' %}">
</head>

<body>
    <header>
        <h1>MSOPortal</h1>
        {% if user.is_authenticated %} You are signed in as
        <strong>{{ user.username }}</strong> /
        <a href="{% url 'home' %}">home</a> /
        <a href="{% url 'experimentstool' %}">experiments tool</a> /
        <a href="{% url 'marketplace_logIn' %}">marketplace</a> /
        <a href="{% url 'datacatalogue_logIn' %}">data catalogue</a> /
        <a href="{% url 'settings' %}">settings</a> /
        <a href="{% url 'password' %}">change password</a> /
        <a href="{% url 'logout' %}">logout</a> {% else %}
        <a href="{% url 'login' %}">login</a> /
        <a href="{% url 'signup' %}">signup</a> {% endif %}
        <hr>
    </header>
    <main>
        {% for message in messages %}
        <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
            {{ message }}
        </p>
        {% endfor %}

        {% block content %} {% endblock %}
    </main>
    <footer>
        <hr>
        <small>
            <a href="http://www.mso4sc.eu">MSO4SC European Project</a>
        </small>
    </footer>

    <script src="{% static "portal/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "portal/js/portal.js" %}"></script>
    {% block javascript %} {% endblock %}
</body>

</html>