{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />                    
    <title>MSOPortal</title>
    <!-- Hojas de estilo base -->
    <link rel="stylesheet" href="{% static 'portal/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/icons.css' %}">        
    <link rel="stylesheet" href="{% static 'portal/css/responsee.css' %}">   
    <!-- Hojas de estilo custom -->
    <link rel="stylesheet" href="{% static 'portal/css/template-style.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'portal/css/portal.css' %}">
    <!-- favicon -->
    <link rel="icon" href="{% static 'portal/img/favicon.ico' %}" type="image/vnd.microsoft.icon" sizes="16x16 24x24 32x32 48x48 64x64">
        
</head>

<body class="size-1280">
    <!-- (I) NUEVO -->
    <div class="line">
         <div class="loader"></div> 
         <div id="content-wrapper">
            <!-- MENU ARRIBA -->
            <div class="s-12 m-10 l-10 center">
                <nav>
                <div class="logo-box">
                  <img id="logotipo" src="{% static 'portal/img/MSO4SC_Portal_logo.svg' %}" alt="MSOPortal">
                  <div id="title-text">
                    MSO4SC provides mathematical technologies and its applications as service 
                    for solution of societal challenges through an HPC oriented cloud e-infrastructure.
                  </div>
                </div>
                <div class="top-nav">                                                      
                    {% if user.is_authenticated %}
                        <p class="usuario"><i class="icon-user"></i>You are signed in as <strong>{{ user.username }}</strong></p>
                        <ul class="chevron">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'remotedesktops' %}">Visualization</a></li>
                            <li><a href="{% url 'experimentstool' %}">Experiments</a> </li>
                            {% if not debug %}
                                <li><a href="{% url 'datacatalogue_logIn' %}">Data Catalogue</a></li>
                                <li><a href="{% url 'marketplace_logIn' %}">Marketplace</a></li>
                            {% else %}
                                <li><a href="#" class="disabled">Data Catalogue</a></li>
                                <li><a href="#" class="disabled">Marketplace</a></li>
                            {% endif %}
                            <!--<li><a href="{% url 'settings' %}">settings</a></li>-->
                            <!--<li><a href="{% url 'password' %}">change password</a></li>-->
                            <li><a href="{% url 'logout' %}">Logout</a></li>               
                        </ul>    
                    {% else %}
                        <ul class="chevron">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'social:begin' 'fiware' %}"><i class="icon-user"></i>Login</a></li>
                            <!--<li><a href="{% url 'login' %}"><i class="icon-user"></i>login</a></li>-->
                            <!--<li><a href="{% url 'signup' %}"><i class="icon-new_user"></i>signup</a></li>-->
                        </ul>    
                    {% endif %}                    
              </div>   
              </nav>               
            </div>
             
            <!-- RIGHT COLUMN -->   
            <div class="s-12 m-10 l-10 center">
               <div class="box">
                  <!-- HEADER -->     
                  <div class="line">

                        <article class="line">
                             
                           
                           {% block content %} {% endblock %}
                           
                            
                        </article>
                     </section>
                  </div>
               </div>
             </div>

             <!-- FOOTER --> 
             <div class="s-12 m-10 l-10 center">
                <div class="box footer">
                  <footer class="line">
                     <div class="s-12 l-6">
                        <img id="european" src="{% static 'portal/img/logo_ce-en-quadri-01.svg' %}" alt="">
                     </div>
                     <div class="s-12 l-6">
                        <a class="right" href="http://www.mso4sc.eu" title="MSO4SC European Project" target="_blank">MSO4SC European Project</a>
                     </div>
                  </footer>
                </div>
            </div>
             
             
         </div> <!-- fin del wrapper -->


      </div>
                                          
      <img id="background" class="hide-s" src="{% static 'portal/img/background.jpg' %}" alt="">
      <!-- scripts -->
      <script src="{% static "portal/js/jquery-3.2.1.min.js" %}"></script>
      <script src="{% static "portal/js/responsee.js" %}"></script>
      <script src="{% static "portal/js/portal.js" %}"></script>

      {% block javascript %} {% endblock %}        
    <!-- (F) NUEVO -->
        
</body>

</html>