<form class="customform">
    {% csrf_token %}
    <div class="s-12 m-12 l-12">
        <div class="l-8" id="infrastructure_list">
        </div>
    </div>    

    <div class="s-12 m-12 l-12" id="add_rdi">
            <div class="l-8">
                <label for="add_rdi_name">Name:</label>
                <input type='text' maxlength="50" id="add_rdi_name" />
            </div>
            <div class="l-8">
                <label for="add_rdi_host">Host:</label>
                <input type='text' maxlength="50" id="add_rdi_host" />
            </div>
            <div class="l-8">
                <label for="add_rdi_user">User:</label>
                <input type='text' maxlength="50" id="add_rdi_user" />
            </div>
            <div class="l-8">
                <label for="add_rdi_password">Password:</label>
                <input type='password' maxlength="50" id="add_rdi_password" />
            </div>

            <div class="l-8">
                <label for="add_rdi_tool">Remote Desktop Tool:</label>
                <select id="add_rdi_tool">
                    <option>noVNC</option>
                </select>
            </div>

            <div class="l-8">
                <label for="add_rdi_list_cmd">List command:</label>
                <input type='text' maxlength="50" id="add_rdi_list_cmd" />
            </div>

            <div class="l-8">
                <label for="add_rdi_create_cmd">Create command:</label>
                <input type='text' maxlength="50" id="add_rdi_create_cmd" />
            </div>
        
            <div class="s-12 l-3 center">
                <button>Add</button>
            </div>
    </div>
</form> 