{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}

<link href="{% static 'css/common.css' %}" rel="stylesheet">

	<div class="page-header">
    <h1 class=page-h1>Mission</h1>
    </div>
    <p class=page-text>
	    Developing evidence and understanding concerning Global Systems and related policies is rapidly becoming a vital challenge for modern societies. It is being tackled by the newly-emerged scientific domain of Global Systems Science (GSS).</br></br>
		High Performance Computing is reaching the level of an ultimate tool empowering GSS to address extremely complex societal and scientific problems. By the nature of the problems addressed in typical GSS applications, the relevant datasets are mostly very big, and are expected to grow up tremendously as well as to include highly heterogeneous data sources.</br></br>

		High Performance Data Analysis (HPDA) is thus the key to the success of GSS in the next decade!</br></br>

		A key contribution of the Centre of Excellence for Global Systems Science will be the development of an HPC-based framework to generate customized synthetic populations for GSS applications. By enriching GSS applications to be fully supported by state-of-the-art HPC technologies, we will be able to provide decision-makers and civil society with detailed analyses, including real-time assessments, of global risks and opportunities.
	</p>
{% endblock %}