{% extends 'frontend/base.html' %}

{% load staticfiles %}

{% block title %}User profile{% endblock %}

{% block body_block %}

    <link href="{% static 'css/common.css' %}" rel="stylesheet">

    <div class="page-header">
        <h1 class=page-h1>User profile</h1>
    </div>
    <p class=page-text>
    You are logged in as {{ user }}.
    </p>
    <p class=page-text>
      {% if org %}
        You are part of <a href="../org_profile/{{ org.id }}/">{{ org }}</a> organisation
      {% else %}
        You are not part of any organisation.
      {% endif %}
    </p>
    <p class=page-text>
        <form action="." method="post">{% csrf_token %}
            <ul class=form>
              {% include "frontend/form.html" with form=form1 %}
              {% include "frontend/form.html" with form=form2 %}
            </ul>
            <button type="submit" class="btn btn-warning">Update profile</button>
        </form>
    </p>
{% endblock %}
