{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="s-12">
<nav class="submenu">
    <p class="nav-text"></p> 
    <div class="top-nav">        
            <ul>
                {% if perms.experimentstool.register_app %}
                    <li class="developer"><a class="tablinks" onclick="openExperimentsTool(event, 'upload')">Register App</a></li>
                {% endif %}
                {% if perms.experimentstool.remove_app %}
                    <li class="developer-last"><a class="tablinks" onclick="openExperimentsTool(event, 'remove')">Remove App</a></li>
                {% endif %}
                <li><a class="tablinks" onclick="openExperimentsTool(event, 'deploy')">Create App Instance</a></li>
                <li><a class="tablinks" onclick="openExperimentsTool(event, 'install')">Deploy Instance</a></li>
                <li><a class="tablinks" onclick="openExperimentsTool(event, 'run')">Run Instance</a></li>
                <li><a class="tablinks" onclick="openExperimentsTool(event, 'uninstall')">Undeploy/Clean Up Instance</a></li>
                <li><a class="tablinks" onclick="openExperimentsTool(event, 'destroy')">Destroy App Instance</a></li>
                <li class="settings"><a class="tablinks" onclick="openExperimentsTool(event, 'settings')">Settings</a></li>                
            </ul>            
    </div>
</nav>
</div>    

<div id="experiments_notification_container"></div>

{% if perms.experimentstool.register_app %}
<div id="upload" class="tabcontent">
    {% include "sections/upload.html" %}
</div>
{% endif %}

{% if perms.experimentstool.remove_app %}
<div id="remove" class="tabcontent">
    {% include "sections/remove.html" %}
</div>
{% endif %}

<div id="deploy" class="tabcontent">
    {% include "sections/deploy.html" %}
</div>

<div id="install" class="tabcontent">
    {% include "sections/install.html" %}
</div>

<div id="run" class="tabcontent">
    {% include "sections/run.html" %}
</div>

<div id="uninstall" class="tabcontent">
    {% include "sections/uninstall.html" %}
</div>

<div id="destroy" class="tabcontent">
    {% include "sections/destroy.html" %}
</div>

<div id="settings" class="tabcontent">
    {% include "sections/settings.html" %}
</div>

{% endblock %}

{% block javascript %}
<script>

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

function redirect(url) {
    window.location.replace(url);
}

function cleanNotifications() {
    $("#experiments_notification_container").empty();
}

function appendNotification(message, error = false) {
    var _title = "Success"
    var _class = "dialog_success";
    if (error) {
        _title = "Error"
        _class = "dialog_failure";
    }

    message_box = $(document.createElement('div')).text(message)

    $("#experiments_notification_container").append(message_box)

    message_box.dialog({
        title: _title,
        dialogClass: _class,
        position: {
          my: "center",
          at: "center"
        },
        clickOutside: true
    })
}

$log_timeout = null;
function openExperimentsTool(evt, toolName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Stop all log monitoring
    if ($log_timeout != null) {
        clearTimeout($log_timeout);
    }

    // Clean Up the errors container
    cleanNotifications();

    switch(toolName) {
        case "upload":
            renderStockData("#product_selector");
            break;
        case "deploy":
            renderApplicationData("#application_selector");
            $("#application_inputs").empty();
            break;
        case "install":
            renderDeploymentData("#install_deployment_selector",
                                 "install",
                                 "#install_execution_selector",
                                 "#install_deployment_log");
            break;
        case "run":
            renderDeploymentData("#run_deployment_selector",
                                 "run_jobs",
                                 "#run_execution_selector",
                                 "#run_deployment_log");
            break;
        case "uninstall":
            renderDeploymentData("#uninstall_deployment_selector",
                                 "uninstall",
                                 "#uninstall_execution_selector",
                                 "#uninstall_deployment_log");
            break;
        case "destroy":
            renderDeploymentData("#destroy_deployment_selector");
            break;
        case "remove":
            renderApplicationData("#remove_application_selector", only_owned=true);
            break;
        case "settings":
            renderKeyData("#ckan_key_form");
            renderHPCData("#infrastructure_list", select=false);
            break;
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(toolName).style.display = "block";
    evt.currentTarget.className += " active";
}

function renderStockData(selector_id) {
    var product_selector = $(selector_id).find("select")
    product_selector.empty();
    cleanNotifications();

    $.ajax({
        url: '/experimentstool/_get_new_stock',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (products) {
            $(".loader").hide();
            if (products.redirect!==undefined && products.redirect!==null) {
                redirect(products.redirect);
            } else if (products.length > 0) {
                $.each(products, function (index, product) {
                    product_selector.append(
                        $(document.createElement('option'))
                            .attr("value", product.id)
                            .text(product.name)
                    )
                });
            } else {
                product_selector.append(
                    $(document.createElement('option'))
                        .attr("value", "-1")
                        .text("No new products found in stock")
                );
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't get stock list: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function renderApplicationData(selector_id, only_owned=false) {
    var application_selector = $(selector_id).find("select")
    application_selector.empty();
    application_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );

    var url = '/experimentstool/_load_applications';
    if (only_owned) {
        url = '/experimentstool/_load_owned_applications';
    }

    $.ajax({
        url: url,
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            application_selector.empty();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't read applications: "+data.error, error=true);
                application_selector.append(
                    $(document.createElement('option')).attr("value", "-1").text("Error")
                );
            } else if (data.app_list.length > 0) {
                application_selector.append(
                    $(document.createElement('option')).attr("value", "-1").text("None")
                );
                $.each(data.app_list, function (index, application) {
                    application_selector.append(
                        $(document.createElement('option')).attr("value", application.id)
                            .text(application.name)
                    )
                });
            } else {
                var msg = "No applications found";
                if (only_owned) {
                    msg = "No owned applications found";
                }
                application_selector.append(
                    $(document.createElement('option')).attr("value", "-1")
                        .text(msg)
                );
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't get applications list: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function renderApplicationInputs(selector_id, container_id) {
    var application = $(selector_id).find("select").val();
    var inputs_container = $(container_id);
    inputs_container.empty();

    var hpc_pattern = new RegExp("^mso4sc_hpc_(.)*$");
    var dataset_pattern = new RegExp("^mso4sc_dataset_(.)*$");
    var outputdataset_pattern = new RegExp('^mso4sc_outdataset_(.)*$')
    var datacatalogue_pattern = new RegExp('^mso4sc_datacatalogue_(.)*$')

    if (parseInt(application) >= 0) {
        $.ajax({
            url: '/experimentstool/_get_application_inputs',
            data: {
                'application_id': application
            },
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();
                if (data.redirect!==undefined && data.redirect!==null) {
                    redirect(data.redirect);
                } else if (data.error!==undefined && data.error!==null) {
                    appendNotification("Couldn't read the inputs: "+data.error, error=true);
                } else if (data.inputs.length > 0) {
                    data.inputs.sort(function(a, b){
                        var nameA=a.name.toLowerCase(), nameB=b.name.toLowerCase();
                        if (nameA < nameB) //sort string ascending
                         return -1;
                        if (nameA > nameB)
                         return 1;
                        return 0; //default return value (no sorting)
                    });
                    //First render HPCs inputs
                    $(data.inputs).each(function (index, input) {
                        if (hpc_pattern.test(input.name)) {
                            inputs_container.append( //hpcs
                                $(document.createElement('div')).attr({
                                    id: "input_container_" + input.name
                                }).append(
                                    $(document.createElement('label')).attr({
                                        for: "input_" + input.name,
                                        title: input.description
                                    }).text('HPC: '+input.name.slice(11)),
                                    $(document.createElement('select')).attr({
                                        id: "input_" + input.name,
                                        name: input.name,
                                        title: input.description
                                    }).append(
                                        $(document.createElement('option'))
                                            .attr("value", -1)
                                            .text("None")
                                    )
                                )
                            );
                            renderHPCData("#input_container_"+input.name);
                        }
                        else if (dataset_pattern.test(input.name)) {
                            inputs_container.append( //datasets
                                $(document.createElement('div')).attr({
                                    id: "input_container_" + input.name
                                }).append(
                                    $(document.createElement('label')).attr({
                                        for: "input_" + input.name,
                                        title: input.description
                                    }).text('Dataset resource: '+input.name.slice(15)),
                                    $(document.createElement('select')).attr({
                                        id: "input_" + input.name,
                                        name: input.name,
                                        title: input.description
                                    }).append(
                                        $(document.createElement('option')).attr("value", -1).text("None")
                                    ),
                                    $(document.createElement('div')).attr({
                                        id: "choices_" + input.name
                                    })
                                )
                            );
                            renderDatasetsData("#input_container_"+input.name);
                            $("#input_container_"+input.name).find("select").on('change', function () {
                                renderDatasetChoices("#input_container_"+input.name,
                                                     "#choices_" + input.name,
                                                     "resource_" + input.name);
                            });
                        }
                        else if (outputdataset_pattern.test(input.name)) {
                            inputs_container.append( //datasets
                                $(document.createElement('div')).attr({
                                    id: "input_container_" + input.name
                                }).append(
                                    $(document.createElement('label')).attr({
                                        for: "input_" + input.name,
                                        title: input.description
                                    }).text('Output dataset: '+input.name.slice(18)),
                                    $(document.createElement('select')).attr({
                                        id: "input_" + input.name,
                                        name: input.name,
                                        title: input.description
                                    }).append(
                                        $(document.createElement('option')).attr("value", -1).text("None")
                                    )
                                )
                            );
                            renderDatasetsData("#input_container_"+input.name);
                        }
                        else if (datacatalogue_pattern.test(input.name)) {
                            inputs_container.append( //datasets
                                $(document.createElement('div')).attr({
                                    id: "input_container_" + input.name
                                }).append(
                                    $(document.createElement('input')).attr({
                                        id: "input_" + input.name,
                                        value: "",
                                        type: 'hidden',
                                        name: input.name,
                                        title: input.description
                                    })
                                )
                            );
                        }
                        else if (!(hpc_pattern.test(input.name)) && !(dataset_pattern.test(input.name))) {
                            inputs_container.append( //other
                                $(document.createElement('div')).attr({
                                    id: "input_container_" + input.name
                                }).append(
                                    inputToForm(input)
                                )
                            );
                        }
                    });
                } else {
                    inputs_container.append(
                        $(document.createElement('label')).text("No inputs found")
                    );
                }
            },
            error: function (jqXHR, status, errorThrown) {
                $(".loader").hide();
                message = "Couldn't read the inputs: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            }
        });
    }
}

function inputToForm(input) {
    if (input.type === "string") {
        return [
            $(document.createElement('label')).attr({
                for: "input_" + input.name,
                title: input.description
            }).text(input.name),
            $(document.createElement('input')).attr({
                id: "input_" + input.name,
                value: input.default,
                type: 'text',
                name: input.name,
                title: input.description
            })
        ]
    } else if (input.type === "integer") {
        return [
            $(document.createElement('label')).attr({
                for: "integer_input_" + input.name,
                title: input.description
            }).text(input.name),
            $(document.createElement('input')).attr({
                id: "integer_input_" + input.name,
                value: input.default,
                type: 'text',
                name: input.name,
                title: input.description
            })
        ]
    } else if (input.type === "boolean") {
        if (input.default){
            true_doc = $(document.createElement('input')).attr({
                id: "boolean_input_" + input.name + '_true',
                name: input.name,
                value: 1,
                type: 'radio',
                checked: "checked",
                title: input.description
            });
            false_doc = $(document.createElement('input')).attr({
                id: "boolean_input_" + input.name + '_false',
                name: input.name,
                value: 0,
                type: 'radio',
                title: input.description
            });
        } else {
            true_doc = $(document.createElement('input')).attr({
                id: "boolean_input_" + input.name + '_true',
                name: input.name,
                value: 1,
                type: 'radio',
                title: input.description
            });
            false_doc = $(document.createElement('input')).attr({
                id: "boolean_input_" + input.name + '_false',
                name: input.name,
                value: 0,
                type: 'radio',
                checked: "checked",
                title: input.description
            });
        }
        return [
            $(document.createElement('label')).attr({
                for: "boolean_input_" + input.name,
                title: input.description
            }).text(input.name),
            $(document.createElement('div')).attr({
                    id: "boolean_input_" + input.name
                }).append(
                    $(document.createElement('label')).attr({
                        for: "boolean_input_" + input.name + '_true',
                        title: input.description
                    }).text("True"),
                    true_doc,
                    $(document.createElement('label')).attr({
                        for: "boolean_input_" + input.name + '_false',
                        title: input.description
                    }).text("False"),
                    false_doc
                )
        ]
    } else if (jQuery.type(input.default)=="array") {
        return [
            $(document.createElement('label')).attr({
                for: "array_input_" + input.name,
                title: input.description
            }).text(input.name),
            $(document.createElement('input')).attr({
                id: "array_input_" + input.name,
                value: input.default,
                type: 'text',
                name: input.name,
                title: input.description
            })
        ]
    } else if (jQuery.type(input.default)=="object") {
        return [
            $(document.createElement('label')).attr({
                for: "dict_input_" + input.name,
                title: input.description
            }).text(input.name),
            $(document.createElement('input')).attr({
                id: "dict_input_" + input.name,
                value: JSON.stringify(input.default),
                type: 'text',
                name: input.name,
                title: input.description
            })
        ]
    } else {
        return [
            $(document.createElement('label')).attr({
                for: "input_" + input.name,
                title: input.description
            }).text(input.name),
            $(document.createElement('input')).attr({
                id: "input_" + input.name,
                value: input.default,
                type: 'text',
                name: input.name,
                title: input.description
            })
        ]
    }
}

function renderKeyData(container_id) {
    var key_input = $(container_id).find("input");
    $.ajax({
        url: '/experimentstool/_get_ckan_key',
        success: function (data) {
            var code = data.key.code
            var blind_code = ""
            for (var i=0; i < code.length; i++) {
                if (i < 4) {
                    blind_code += code.charAt(i);
                } else {
                    blind_code += '*';
                }
            }
            key_input.val(blind_code);
        },
        error: function (jqXHR, status, errorThrown) {
            message = "Couldn't get ckan key: ";
            message += jqXHR.status+": "+errorThrown+": "+jqXHR.responseText
            appendNotification(message, error=true);
        }
    });

}

function renderHPCData(container_id, select=true, clear_notifications=true) {
    var hpc_container = $(container_id);
    if (select) {
        hpc_container = hpc_container.find("select");
    } else {
        hpc_container.empty();
    }
    if (clear_notifications) {
        cleanNotifications();
    }

    $.ajax({
        url: '/experimentstool/_get_hpc_list',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                message = "Couldn't get hpc list: "+data.error;
                appendNotification(message, error=true);
            } else {
                var hpc_list = data.hpc_list;
                if (hpc_list.length > 0) {
                    $.each(hpc_list, function (index, hpc) {
                        if (select) {
                            hpc_container.append(
                                $(document.createElement('option'))
                                    .attr("value", hpc.id)
                                    .text(hpc.name)
                            )
                        } else {
                            hpc_container.append(
                                $(document.createElement('div')).
                                    attr("id", "hpc_block_"+hpc.id).
                                    attr("class", "margin hpc_settings_block").
                                    append(
                                        $(document.createElement('div')).
                                            attr("class", "s-12 m-6 l-8").
                                            append(
                                                $(document.createElement('div')).
                                                    attr("class", "l-9 left").
                                                    append(
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "hpc_label hpc_label_name").text('Name: '),
                                                            $(document.createElement('span')).text(hpc.name),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "hpc_label").text('Host: '),
                                                            $(document.createElement('span')).text(hpc.host),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "hpc_label").text('User: '),
                                                            $(document.createElement('span')).text(hpc.user),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "hpc_label").text('WM: '),
                                                            $(document.createElement('span')).text(hpc.manager),
                                                        ),
                                                        $(document.createElement('div')).append(
                                                            $(document.createElement('span')).attr("class", "hpc_label").text('Time Zone: '),
                                                            $(document.createElement('span')).text(hpc.time_zone),
                                                        )
                                                    )
                                                ,
                                                $(document.createElement('div')).
                                                    attr("class", "l-3 right").
                                                    append(
                                                        $(document.createElement('button')).
                                                            attr("id", "del_hpc_"+hpc.id).
                                                            text('Delete')
                                                    )
                                            )
                                    )
                            );
                            setHPCEditButtonsHandler(
                                "#del_hpc_"+hpc.id,
                                hpc.id,
                                refresh_function = function() {
                                    renderHPCData(container_id,
                                                  select=false,
                                                  clear_notifications=false); 
                                }
                            );
                        }
                    });
                } else {
                    if (!select) {
                        hpc_container.append(
                            $(document.createElement('div')).attr("id", "no_hpc_list").text("No HPC infrastructures found")
                        )
                    }
                }
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't get hpc list: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function setHPCEditButtonsHandler(button_id, pk, refresh_function) {
    $(button_id).on('click', function (event) {
        event.preventDefault();
        $.ajax({
            method: "POST",
            url: '/experimentstool/_delete_hpc',
            data: {
                'pk': pk
            },
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();
                if (data.redirect!==undefined && data.redirect!==null) {
                    redirect(data.redirect);
                } else if (data.error!==undefined && data.error!==null) {
                    appendNotification("Couldn't delete the hpc: "+data.error, error=true);
                } else {
                    appendNotification("HPC "+data.hpc.name+" removed.");
                }
            },
            error: function (jqXHR, status, errorThrown) {
                $(".loader").hide();
                message = "Couldn't remove the hpc: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            },
            complete: refresh_function
        });
    });
}

function renderDatasetsData(selector_id) {
    var dataset_selector = $(selector_id).find("select")
    dataset_selector.empty();
    dataset_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );
    $.ajax({
        url: '/experimentstool/_get_datasets',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't get datasets: "+data.error, error=true);
            } else {
                datasets = data.names;
                dataset_selector.empty();
                dataset_selector.append(
                    $(document.createElement('option')).attr("value", "-1").text("None")
                );
                if (datasets.length > 0) {
                    $.each(datasets, function (index, dataset) {
                        dataset_selector.append(
                            $(document.createElement('option')).attr("value", index).text(dataset)
                        )
                    });
                }
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't get datasets list: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function renderDatasetChoices(selector_id, container_id, group_name){
    var dataset = $(selector_id).find("select").val();
    var resources_container = $(container_id);
    resources_container.empty();

    if (parseInt(dataset) >= 0) {
        $.ajax({
            url: '/experimentstool/_get_dataset_info',
            type: "POST",
            data: {
                'dataset': dataset
            },
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();
                if (data.redirect!==undefined && data.redirect!==null) {
                    redirect(data.redirect);
                } else if (data.error!==undefined) {
                    appendNotification("Couldn't read the dataset info: "+data.error, error=true);
                } else if (data.num_resources > 0) {
                    $(data.resources).each(function (index, resource) {
                        resources_container.append(
                            $(document.createElement('div')).attr({
                                id: "resource_choice_" + resource.name
                            }).append(
                                $(document.createElement('input')).attr({
                                    id: "resource_" + resource.name,
                                    name: group_name,
                                    value: index,
                                    type: 'radio'
                                }),
                                $(document.createElement('label')).attr({
                                    for: "resource_" + resource.name
                                }).text(resource.name)
                            )
                        )
                    });
                } else {
                    resources_container.append(
                        $(document.createElement('label')).text("No resources found")
                    );
                }
            },
            error: function (jqXHR, status, errorThrown) {
                $(".loader").hide();
                message = "Couldn't read the dataset info: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            }
        });
    }
}

function renderDeploymentData(selector_id, workflow, execution_selector_id, log_id) {
    var deployment_selector = $(selector_id).find("select")
    var execution_selector = $(execution_selector_id).find("select")
    deployment_selector.empty();
    execution_selector.empty();
    resetLogBox(log_id);
    deployment_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );
    execution_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("...")
    );

    $.ajax({
        url: '/experimentstool/_get_deployments',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't read the instances: "+data.error, error=true);
            } else {
                deployment_selector.empty();
                if (data.instance_list.length > 0) {
                    $.each(data.instance_list, function (index, deployment) {
                        deployment_selector.append(
                            $(document.createElement('option')).attr("value", deployment.id).text(deployment.name)
                        )
                    });
                    _renderExecutionData(deployment_selector.val(),
                                         workflow,
                                         execution_selector_id,
                                         log_id);
                } else {
                    deployment_selector.append(
                        $(document.createElement('option')).attr("value", "-1").text("No instances found")
                    );
                    execution_selector.empty();
                    execution_selector.append(
                        $(document.createElement('option')).attr("value", "-1").text("None")
                    );
                }
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't get instances list: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function resetLogBox(log_id) {
    $(log_id+"_light").attr("src", "/static/experimentstool/img/light_grey.png");
    $(log_id).find("textarea").val('');
}

function renderExecutionData(selector_id, workflow, execution_selector_id, log_id) {
    var deployment_selector = $(selector_id).find("select")
    _renderExecutionData(deployment_selector.val(),
                         workflow,
                         execution_selector_id,
                         log_id)
}
function _renderExecutionData(instance, workflow, execution_selector_id, log_id) {
    var execution_selector = $(execution_selector_id).find("select")
    execution_selector.empty();
    execution_selector.append(
        $(document.createElement('option')).attr("value", "-1").text("Loading..")
    );
    resetLogBox(log_id);
    $.ajax({
        url: '/experimentstool/_get_executions',
        data: {
            'instance': instance,
            'workflow': workflow
        },
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't read the instances: "+data.error, error=true);
            } else {
                execution_selector.empty();
                if (data.execution_list.length > 0) {
                    $.each(data.execution_list, function (index, execution) {
                        execution_selector.append(
                            $(document.createElement('option'))
                                .attr("value", execution.id)
                                .text(execution.created_on)
                        )
                    });
                    //select newest
                    $(execution_selector_id).find("select option:last")
                        .attr("selected", "selected");
                    
                    //render the log of selected execution
                    renderLogData(
                        $(execution_selector_id).find("select option:last").val(),
                        log_id,
                        reset=true)
                    
                    //execution selector on change
                    execution_selector.change(function (event) {
                        event.preventDefault();
                        renderLogData(
                            $(execution_selector_id).find("select").val(),
                            log_id,
                            reset=true)
                    });

                } else {
                    execution_selector.append(
                        $(document.createElement('option')).attr("value", "-1").text("None")
                    );
                }
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't get executions list: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function renderLogData(exec_id, log_id, reset=false) {
    var textarea = $(log_id).find("textarea");
    if (reset) {
        textarea.val("");
    }
    cleanNotifications();

    $.ajax({
        url: '/experimentstool/_get_executions_events',
        data: {
            'exec_id': exec_id,
            'reset': reset
        },
        success: function (data) {
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't monitor the operation: "+data.error, error=true);
            } else {
                if (data.events !== undefined && data.events.logs !== undefined) {
                    // Write events in the textarea
                    data.events.logs.forEach(function(event) {
                        textarea.val(textarea.val()+event+'\n');
                    });
                    textarea.scrollTop = textarea.scrollHeight;
                }

                // Schedule the next request when the current one's complete
                if (!data.events.finished) {
                    $log_timeout = setTimeout(
                        function () {
                            renderLogData(exec_id, log_id, reset=false);
                        },
                        3000);
                    if (reset) {
                        $(log_id+"_light").attr("src", "/static/experimentstool/img/light_blue.png");
                    }
                } else {
                    var light = $(log_id+"_light");
                    if (data.events.status=="terminated") {
                        light.attr("src", "/static/experimentstool/img/light_green.png");
                    } else {
                        light.attr("src", "/static/experimentstool/img/light_red.png");
                    }
                }
            }
        },
        error: function (jqXHR, status, errorThrown) {
            message = "Couldn't monitor the operation: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
}

function executeDeployment(selector_id, workflow, execution_selector_id, log_id = null, force = false) {
    var deployment_id = $(selector_id).find("select").val();
    cleanNotifications();

    var url = "/experimentstool/_execute_deployment";
    if (workflow=='destroy') {
        url = "/experimentstool/_destroy_deployment";
    }

    $.ajax({
        method: "POST",
        url: url,
        data: {
            'deployment_id': deployment_id,
            'workflow': workflow,
            'force': force
        },
        dataType: 'json',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                appendNotification("Execution error: "+data.error, error=true);
            } else {
                if (execution_selector_id && log_id) {
                    var execution_selector = $(execution_selector_id).find("select");
                    execution_selector.append(
                        $(document.createElement('option'))
                            .attr("value", data.execution.id)
                            .attr("selected", "selected")
                            .text(data.execution.created_on)
                    )
                    renderLogData(data.execution.id, log_id, reset=true);
                } else {
                    appendNotification("Operation successful.");
                }
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't execute the operation: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        }
    });
};

$("#ckan_key_form").find("button").on('click', function (event) {
    event.preventDefault();
    var ckan_key = $("#ckan_key").val();

    cleanNotifications();
    $.ajax({
        url: '/experimentstool/_update_ckan_key',
        type: "POST",
        data: {
            'ckan_key': ckan_key,
        },
        dataType: 'json',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't update the key: "+data.error, error=true);
            } else {
                appendNotification("Key updated.");
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't update the key: ";
            message += jqXHR.status+": "+errorThrown+": "+jqXHR.responseText
            appendNotification(message, error=true);
        }
    });
});

$("#add_hpc").find("button").on('click', function (event) {
    event.preventDefault();
    var name = $("#add_hpc_name").val();
    var host = $("#add_hpc_host").val();
    var user = $("#add_hpc_user").val();
    var password = $("#add_hpc_password").val();
    var timezone = $("#add_hpc_timezone").val();

    cleanNotifications();
    if (name != '' && host != '' && user!= '' && password != '' && timezone != '') {
        $.ajax({
            url: '/experimentstool/_add_hpc',
            type: "POST",
            data: {
                'name': name,
                'host': host,
                'user': user,
                'password': password,
                'timezone': timezone,
            },
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                $.ajaxSettings.beforeSend(xhr, settings);
                $(".loader").show();
            },
            success: function (data) {
                $(".loader").hide();
                if (data.redirect!==undefined && data.redirect!==null) {
                    redirect(data.redirect);
                } else if (data.error!==undefined && data.error!==null) {
                    appendNotification("Couldn't add the HPC: "+data.error, error=true);
                } else {
                    appendNotification("HPC "+data.hpc.name+" added.");
                }
            },
            error: function (jqXHR, status, errorThrown) {
                $(".loader").hide();
                message = "Couldn't add the hpc: ";
                message += jqXHR.status+": "+errorThrown
                appendNotification(message, error=true);
            },
            complete: function() {
                renderHPCData("#infrastructure_list", selector=false, clean=false);
            }
        });
    }
});

$("#upload").find("button").on('click', function (event) {
    event.preventDefault();
    if (window.File && window.FileReader && window.FileList && window.Blob) {
        // Great success! All the File APIs are supported.
    } else {
        // TODO: do something better than an alert
        alert('The File APIs are not fully supported in this browser.');
    }

    var product = $("#product_selector").find("select").val();
    var mso_id = $("#mso4sc_id").find("input").val();
    var blueprint_package = $("#blueprint_package").find("input")[0];

    cleanNotifications();
    if (product >= 0) {
        // TODO: do something better than an alert
        if (!blueprint_package) {
            alert("Um, couldn't find the fileinput element.");
        }
        else if (!blueprint_package.files) {
            alert("This browser doesn't seem to support the `files` property of file inputs.");
        }
        else if (!blueprint_package.files[0]) {
            alert("Please select a file before deploy");               
        }
        else {
            var data = new FormData();
            data.append('product', product);
            data.append('mso_id', mso_id);
            data.append('blueprint_package', blueprint_package.files[0]);
            $.ajax({
                url: '/experimentstool/_upload_application',
                type: "POST",
                data: data,
                dataType: 'json',
                contentType: false,
                processData: false,
                cache: false,
                beforeSend: function (xhr, settings) {
                    $.ajaxSettings.beforeSend(xhr, settings);
                    $(".loader").show();
                },
                success: function (data) {
                    $(".loader").hide();
                    if (data.redirect!==undefined && data.redirect!==null) {
                        redirect(data.redirect);
                    } else if (data.error!==undefined && data.error!==null) {
                        appendNotification("Couldn't register the app: "+data.error, error=true);
                    } else {
                        appendNotification("App "+data.app.name+" registered.");
                    }
                },
                error: function (jqXHR, status, errorThrown) {
                    $(".loader").hide();
                    message = "Couldn't register the app: ";
                    message += jqXHR.status+": "+errorThrown
                    appendNotification(message, error=true);
                },
                complete: function() {
                    renderStockData("#product_selector");
                }
            });
        }
    }
});

$("#application_selector").find("select").on('change', function () {
    renderApplicationInputs("#application_selector", "#application_inputs")
});

$("#deploy_form").find("button").on('click', function (event) {
    event.preventDefault();

    var deployment_id = $("#deployment_id").find("input").val();
    var application_id = $("#application_selector").find("select").val();
    
    var inputs_dict = {};
    $('input[id^="input_"]').each(function(index, input){ // text inputs
        inputs_dict[$(input).attr('name')] = String($(input).val());
    });
    $('input[id^="integer_input_"]').each(function(index, input){ // integer inputs
        inputs_dict[$(input).attr('name')] = parseInt($(input).val());
    });
    $('input[id^="boolean_input_"]:checked').each(function(index, input){ // boolean inputs
        inputs_dict[$(input).attr('name')] = 1 === parseInt($(input).val());
    });
    $('input[id^="array_input_"]').each(function(index, input){ // array inputs
        inputs_dict[$(input).attr('name')] = String($(input).val()).split(",");
    });
    $('input[id^="dict_input_"]').each(function(index, input){ // dict inputs
        inputs_dict[$(input).attr('name')] = JSON.parse($(input).val());
    });
    $('select[id^="input_"]').each(function(index, input){ // hpc inputs
        inputs_dict[$(input).attr('name')] = parseInt($(input).val());
    });
    $('input[name^="resource_"]:checked').each(function(index, input){ // resource inputs
        inputs_dict[$(input).attr('name')] = String($(input).val());
    });
    var deployment_inputs = JSON.stringify(inputs_dict);

    var data = new FormData();
    data.append('deployment_id', deployment_id);
    data.append('application_id', application_id);
    data.append('deployment_inputs', deployment_inputs);

    cleanNotifications();
    $.ajax({
        method: "POST",
        url: '/experimentstool/_deploy_application',
        data: data,
        dataType: 'json',
        contentType: false,
        processData: false,
        cache: false,
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't create the instance: "+data.error, error=true);
            } else {
                appendNotification("App instance "+data.instance.name+" created.");
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't create the instance: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        },
        complete: function() {
            $("#application_inputs").empty()
        }
    });
});

$("#install_deployment_selector").find("select").on('change', function () {
    renderExecutionData("#install_deployment_selector",
                        "install",
                        "#install_execution_selector",
                        "#install_deployment_log");
});

$("#run_deployment_selector").find("select").on('change', function () {
    renderExecutionData("#run_deployment_selector",
                        "run_jobs",
                        "#run_execution_selector",
                        "#run_deployment_log");
});

$("#uninstall_deployment_selector").find("select").on('change', function () {
    renderExecutionData("#uninstall_deployment_selector",
                        "uninstall",
                        "#uninstall_execution_selector",
                        "#uninstall_deployment_log");
});

$("#install").find("button").on('click', function (event) {
    event.preventDefault();
    executeDeployment("#install_deployment_selector",
                      "install",
                      "#install_execution_selector",
                      "#install_deployment_log");
});

$("#run").find("button").on('click', function (event) {
    event.preventDefault();
    executeDeployment("#run_deployment_selector",
                      "run_jobs",
                      "#run_execution_selector",
                      "#run_deployment_log");
});

$("#undeploy-button").on('click', function (event) {
    event.preventDefault();
    executeDeployment("#uninstall_deployment_selector",
                      "uninstall",
                      "#uninstall_execution_selector",
                      "#uninstall_deployment_log");
});

$("#force-undeploy-button").on('click', function (event) {
    event.preventDefault();
    executeDeployment("#uninstall_deployment_selector",
                      "uninstall",
                      "#uninstall_execution_selector",
                      "#uninstall_deployment_log",
                      force = true);
});

$("#destroy-instance-button").on('click', function (event) {
    event.preventDefault();
    executeDeployment("#destroy_deployment_selector",
                      "destroy");
    renderDeploymentData("#destroy_deployment_selector");
});

$("#force-destroy-instance-button").on('click', function (event) {
    event.preventDefault();
    executeDeployment("#destroy_deployment_selector",
                      "destroy",
                      force=true);
});

$("#remove").find("button").on('click', function (event) {
    event.preventDefault();
    var application_id = $("#remove_application_selector").find("select").val();

    $.ajax({
        url: '/experimentstool/_remove_application',
        data: {
            'application_id': application_id
        },
        dataType: 'json',
        beforeSend: function (xhr, settings) {
            $.ajaxSettings.beforeSend(xhr, settings);
            $(".loader").show();
        },
        success: function (data) {
            $(".loader").hide();
            if (data.redirect!==undefined && data.redirect!==null) {
                redirect(data.redirect);
            } else if (data.error!==undefined && data.error!==null) {
                appendNotification("Couldn't remove the app: "+data.error, error=true);
            } else {
                appendNotification("App "+data.app.name+" removed.");
            }
        },
        error: function (jqXHR, status, errorThrown) {
            $(".loader").hide();
            message = "Couldn't remove the app: ";
            message += jqXHR.status+": "+errorThrown
            appendNotification(message, error=true);
        },
        complete: function() {
            renderApplicationData("#remove_application_selector", only_owned=true);
        }
    });
});

</script>
{% endblock %}
