{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="s-12">
    <nav class="submenu">
        <p class="nav-text"></p>
        <div class="top-nav">
            <ul>
                {% if perms.experimentstool.register_app and perms.experimentstool.remove_app%}
                <li class="developer"><a class="expMenu tablinks" onclick="openExperimentsTool(event, 'apps')">Applications</a></li>
                {% endif %}
                <li><a id="default_exp_tool" class="expMenu tablinks" onclick="openExperimentsTool(event, 'instances')">Instances</a></li>
                <li class="expMenu settings"><a class="tablinks" onclick="openExperimentsTool(event, 'settings')">Settings</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="experiments_notification_container"></div>

{% if perms.experimentstool.register_app and perms.experimentstool.remove_app%}
<div id="apps" class="expTab tabcontent">
    {% include "sections/apps.html" %}
</div>
{% endif %}

<div id="instances" class="expTab tabcontent active">
    {% include "sections/instances.html" %}
</div>

<div id="settings" class="expTab tabcontent">
    {% include "sections/settings.html" %}
</div>

{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        $("#default_exp_tool").click();
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                // Only send the token to relative URLs i.e. locally.
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            }
        }
    });

    function redirect(url) {
        window.location.replace(url);
    }
</script>
<script src="{% static "experimentstool/js/notifications.js" %}"></script>
<script src="{% static "experimentstool/js/infrastructure.js" %}"></script>
<script src="{% static "experimentstool/js/user_settings.js" %}"></script>
<script src="{% static "experimentstool/js/application.js" %}"></script>
<script src="{% static "experimentstool/js/inputs.js" %}"></script>
<script src="{% static "experimentstool/js/deployment.js" %}"></script>
<script src="{% static "experimentstool/js/logs.js" %}"></script>
<script>
    function openExperimentsTool(evt, toolName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="expTab" and hide them
        tabcontent = document.getElementsByClassName("expTab");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("expMenu");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Stop all log monitoring
        stop_logs();

        // Clean Up the errors container
        cleanNotifications();

        switch (toolName) {
            case "apps":
                renderStockData("#product_selector");
                renderApplicationData("#remove_application_selector", only_owned = true);
                break;
            case "instances":
                renderApplicationData("#application_selector");
                $("#application_inputs").empty();
                renderDeploymentData("#deployment_selector",
                    "#deployment_log",
                    "#application_log");
                break;

            case "settings":
                $("#setup_data").click();
                break;
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(toolName).style.display = "block";
        if (typeof evt.currentTarget == "undefined") {
            $("#default_exp_tool").className += "active";
        } else {
            evt.currentTarget.className += " active";
        }
    }

    function openLogs(evt, toolName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="logMenu" and hide them
        tabcontent = document.getElementsByClassName("logTab");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("logMenu");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Stop all log monitoring
        stop_logs();

        // Clean Up the errors container
        cleanNotifications();

        switch (toolName) {
            case "exec_logs_content":
                renderLogData(
                    "exec_logs",
                    "#deployment_selector",
                    "#deployment_log",
                    "#application_log");
                break;
            case "app_logs_content":
                renderLogData(
                    "app_logs",
                    "#deployment_selector",
                    "#deployment_log",
                    "#application_log");
                break;
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(toolName).style.display = "block";
        if (typeof evt.currentTarget == "undefined") {
            $("#exec_logs").className += "active";
        } else {
            evt.currentTarget.className += " active";
        }
    }

    function openSetup(evt, toolName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="logMenu" and hide them
        tabcontent = document.getElementsByClassName("setupTab");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("setupMenu");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Stop all log monitoring
        stop_logs();

        // Clean Up the errors container
        cleanNotifications();

        switch (toolName) {
            case "setup_data_content":
                renderKeyData("#ckan_key_form");
                break;
            case "setup_infra_content":
                renderInfraData("#infra_list", select = false);
                break;
            case "setup_computing_content":
                renderComputingData("#computing_instance_list", select = false);
                renderInfraData("#infra_selector")
                break;
            case "setup_cloud_content":
                //TODO: Implement
                renderComputingData("#computing_instance_list", select = false);
                break;
            case "setup_tunnel_content":
                renderTunnelData("#tunnel_list", select = false);
                break;
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(toolName).style.display = "block";
        if (typeof evt.currentTarget == "undefined") {
            $("#exec_logs").className += "active";
        } else {
            evt.currentTarget.className += " active";
        }
    }
</script>
{% endblock %}