<br>
<br>
<div class="s-12">
    <nav class="submenu">
        <p class="nav-text"></p>
        <div class="top-nav">
            <ul>
                <li><a class="setupMenu tablinks" id="setup_data" onclick="openSetup(event, 'setup_data_content')">Data
                        repositories</a></li>
                <li><a class="setupMenu tablinks" id="setup_computing" onclick="openSetup(event, 'setup_computing_content')">User
                        Infrastructures</a></li>
                <li><a class="setupMenu tablinks" id="setup_infra" onclick="openSetup(event, 'setup_infra_content')">Infrastructure
                        Definitions</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="setup_data_content" class="setupTab tabcontent s-12 m-12 l-12">
    <form class="customform">
        {% csrf_token %}
        <h2>Data Catalogue key:</h2>
        <div class="1-12" id="ckan_key_form">
            <div>
                <label for="ckan_key">Key:</label>
                <input type='text' maxlength="50" id="ckan_key" />
            </div>
            <div class="l-1 left">
                <button>Update</button>
            </div>
        </div>
    </form>
</div>

<div id="setup_infra_content" class="setupTab tabcontent s-12 m-12 l-12">
    <form class="customform">
        {% csrf_token %}
        <h2>Infrastructure Definitions:</h2>
        <div class="s-12 m-12 l-12">
            <div class="l-8" id="infra_list">
            </div>
        </div>
        <div style="width: 10px; display: inline-block;"></div>
        <h3>New infrastructure definition:</h3>
        <div class="s-12 m-12 l-12">
            <div class="l-8" id="add_infra">
                <div>
                    <label for="add_infra_name">Name: *</label>
                    <input type='text' maxlength="50" id="add_infra_name" />
                </div>
                <div>
                    <label for="add_infra_about">About URL: *</label>
                    <input type='text' maxlength="250" id="add_infra_about" />
                </div>
                <div>
                    <label for="add_infra_type">Type: *</label>
                    <select id="add_infra_type">
                        <option value="HPC">HPC</option>
                        <option value="OPENSTACK">OpenStack</option>
                        <option value="EOSC">EOSC-Hub</option>
                    </select>
                </div>
                <div>
                    <label for="add_infra_manager">Workload Manager: *</label>
                    <select id="add_infra_manager">
                        <option value="SLURM">Slurm</option>
                        <option value="TORQUE">Torque</option>
                        <option value="BASH">Bash</option>
                    </select>
                </div>
                <div>
                    <label for="add_infra_definition">Definition file: </label>
                    <input type="file" id="add_infra_definition">
                </div>
                <div class="s-12 l-3 center">
                    <button>Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="setup_computing_content" class="setupTab tabcontent s-12 m-12 l-12">
    <form class="customform">
        {% csrf_token %}
        <h2>User's Infrastructures:</h2>
        <div class="s-12 m-12 l-12">
            <div class="l-8" id="computing_instance_list">
            </div>
        </div>
        <div style="width: 10px; display: inline-block;"></div>
        <h3>New User's Infrastructure:</h3>
        <div class="s-12 m-12 l-12">
            <div class="l-8" id="add_computing">
                <div>
                    <label for="add_computing_name">Name: *</label>
                    <input type='text' maxlength="50" id="add_computing_name" />
                </div>
                <div id="infra_selector">
                    <label for="infra_selector_aux">Type: *</label>
                    <select id="infra_selector_aux"></select>
                </div>
                <div id="infra_inputs"></div>
                <div class="s-12 l-3 center">
                    <button>Add</button>
                </div>
            </div>
        </div>
    </form>
</div>