.page-h1 {
  color: #ec9d21;
}

a.plain {
  color: inherit;
  text-decoration: none;
}

a.topic {
  background-color: #ec9d21;
  color: black;
  font-size: 80%;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 0.65em 0.15em 0.15em 0.65em;
  text-decoration: none;
}

body {
  background-color: #3c322b;
  color: #ffffff;
}

input {
   color: #000000;
   width: 30em;
}

textarea {
   color: #000000;
   width: 30em;
}

select {
   color: #000000;
   width: 30em;
}

div.main-body {
  padding: 1em;
}

div.opaque-body {
  background-color: #3c322b;
}

ul.search-results {
  list-style-type: none;
  padding: 0;
}

ul.form {
  list-style-type: none;
  padding: 0em;
}

ul.form li {
  margin: 1em;
}

.form-label {
  width: 10em;
  text-align: right;
  vertical-align: top;
  /*margin-right: 0.8em;*/
  color: #ffffff;
}
